@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<h2>TODOs REST API</h2>
<p>Welcome to TODOs REST API</p>
<ul>
    <li><a href="/swagger">Swagger Documentation</a></li>
</ul>